apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "solr-operator.fullname" . }}
  labels:
    control-plane: solr-operator
    controller-tools.k8s.io: "1.0"
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      control-plane: solr-operator
      controller-tools.k8s.io: "1.0"
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
      labels:
        control-plane: solr-operator
        controller-tools.k8s.io: "1.0"
    spec:
      serviceAccountName: {{ include "solr-operator.serviceAccountName" . }}
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}" 
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args:
        - -zk-operator={{ .Values.useZkOperator }}
        {{- if .Values.ingressBaseDomain }}
        - --ingress-base-domain={{ .Values.ingressBaseDomain }}
        {{- end }}
        {{- if .Values.watchNamespaces }}
        - --watch-namespaces={{- include "solr-operator.watchNamespaces" . -}}
        {{- end }}
        env:
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          {{- if .Values.envVars }}
          {{- toYaml .Values.envVars | nindent 10 }}
          {{- end }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      terminationGracePeriodSeconds: 10
      {{- if .Values.nodeSelector }}
      nodeSelector:
      {{ toYaml .Values.nodeSelector | indent 8 }}
      {{- end }}
